body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f9fafc;
    color: #595354;
}

.header {
    padding: 10px 40px;
    width: 50%;
    margin: auto;
}

.header > .logo-container {
    align-items: center;
}

.header > .logo-container > .logo-text {
    font-size: 26px;
    font-weight: 700;
}

.header > .logo-container > .logo-text > .logo-highlight {
    font-size: 30px
}

.content-container {
    height: 500px;
    background-color: rgb(46, 51, 53);
    width: 80%;
    margin: auto;
    border-radius: 5px;
}

.welcome {
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 20px;
}

img {
    margin: auto;
    padding-top: 100px;
    width: 50%;
}

.button {
    text-align: center;
    width: 50%;
    margin: auto;
}

.video-chat-container {
    padding: 0 20px;
    text-align: center;
}

canvas {
    padding-top: 5px;
    border-radius: 3px;
}

.end {
    color: rgb(92, 92, 187);
}